*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo{
    width: 100%;
    height: 500px;
}
#contenedorDeProductos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    margin: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 10px solid;
    border-color: rgb(175, 189, 252);
}
#contenedorDeProductos p{
    margin: 10px;
    height: 50px;
}
#contenedorDeProductos img{
    object-fit: cover;
    height: 250px;
    width: 300px;
}
#contenedorDeProductos button{
    margin: 10px;
}
head h1{
    background-color:black;
    color: blue;
}
#AgregadosAlCarrito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid black;
}
.itemDeLaLista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    border: solid red;
    width: 200px;
    height: 160px;
}
.itemDeLaLista img{
    width: 100px;
}
.ordenDeCompra{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
.carrito{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
#btndecomprar{
    height: 70px;
    width: 150px;
}